head
  title= title
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  if meta.description
    meta(name="description", content="#{meta.description}")
  else 
    meta(name="description", content="#{metaDefault.description}")
  if meta.keywords
    meta(name="keywords" content="#{meta.keywords}")
  else 
    meta(name="keywords", content="#{metaDefault.keywords}")
    
  link(rel='stylesheet', href='/stylesheets/normalize.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
